.tab {
  max-width: 500px;
  background-color: #eee;
  padding: 20px;
  margin: 50px auto;
  border-radius: 20px;
}
.tab-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tab-item {
  font-size: 20px;
}
.tab-item {
  width: calc((100% / 3) - 30px);
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 30px;
  color: white;
}
.tab-item.active {
  background-color: #2979ff;
  pointer-events: none;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
