.form-post {
  display: flex;
  justify-content: center;
  gap: 0 25px;
  margin: 50px 0;
}
.form-post input {
  padding: 10px 15px;
  border: 2px solid #eee;
  border-radius: 10px;
  font-size: 20px;
  color: black;
}
.form-post button {
  background-color: #6a5af9;
  color: white;
  border: 0;
  outline: none;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}
